<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bugs, Bugs, Bugs</title>
</head>
<body>
    <h1> {{ data.title }} </h1>
    <p> Filed by: <a href='/user/{{data.filed_by.id}}'> {{ data.filed_by }} </a></p>
    <p>Filed at: {{ data.time_filed }}</p>
    <p>Bug info: {{ data.description }}</p>
    <p>Ticket Status: {{ data.ticket_status }}</p>
    <button><a href="/">Home</a></button>
    <button><a href="/editbug/{{data.id}}">Edit bug</a></button>
    <button><a href="/inprogress/{{data.id}}">Mark In Progress</a></button>
    <button><a href="/completed/{{data.id}}">Mark Completed</a></button>
    <button><a href="/invalid/{{data.id}}">Mark Invalid</a></button>
</body>
</html>