<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>🐝Qu33n B's Bug Tracker App🐝</h1>

    {% for item in data %}
    
        <ul>
            <li>
                <a href="/bug/{{item.id}}">{{ item.title }}</a>
            </li>
            <br>
        </ul>
        {% endfor %}
    
    <p>
        <a href="/addbug/">
            <button>Add new bug</button>
        </a>
    </p>
    <p>
        <a href="/adduser/">
            <button>Add new user</button>
        </a>
    </p>
    <!-- <p>
        <a href="/addbug/">
            <button>Add new bug</button>
        </a>
    </p> -->
    <p>
        <a href="/logout/">
            <button>Sign out of the bug tracker!</button>
        </a>
    </p>
</body>
</html>